# opencv-python>=4.8.0
# numpy>=1.24.0
# tensorflow>=2.13.0
# Pillow>=10.0.0
# pyttsx3>=2.90
# gunicorn>=21.2.0
# for local host
Flask>=3.0.0
Flask-Cors>=4.0.0
python-dotenv>=1.0.0
google-generativeai>=0.3.0
Pillow>=10.0.0
opencv-python-headless>=4.8.0
numpy>=1.24.0
gunicorn>=21.2.0